tr#nameCol {
	background: grey;
	color: white;
}

tr:nth-child(2n) {
	background: #f0f0f0;
}

tr:nth-child(1) {
	background: #666;
}

.b1 {
	background: navy;
	color: white;
	font-size: 9pt;
}

.b2 {
	background: red;
	color: white;
	font-size: 9pt;
}

a {
	color: black;
	background: green;
	padding: 2px;
}

#blockTop {
	position: absolute;
	left: 2%;
	width: 94%;
	height:6%;
	top: 3px;
	background-color: #D5D5CC;
	overflow: auto;
	padding: 20px;
}

#blockRight {
	position: absolute;
	left: 81%;
	width: 15%;
	height:100%;
	top: 85px;
	background-color: #C2C2A3;
	padding: 20px;
}

#blockLeft {
	position: absolute;
	left: 2%;
	width: 15%;
	height:100%;
	top: 85px;
	background-color: #999966;
	padding: 20px;
}
#blockMain {
	position: absolute;
	overflow: scroll;
	left: 20%;
	width: 60%;
	height:100%;
	top: 85px;
	padding: 5px;
}